.authors {
  flex-basis: 30%;
  padding: 0 1% 1% 1%;
  margin-top: 1%;
  margin-bottom: 1%;
  border-right: 1px solid #c56666;
}

.authors:hover {
  margin: 0;
  padding-top: 1%;
  padding-bottom: 1%;
}
